// @font-face {
//     font-family: 'galano-heavy';
//     src: url('../fonts/galano_grotesque_alt_heavy-webfont.woff2') format('woff2'),
//          url('../fonts/galano_grotesque_alt_heavy-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }
