@import 'client_fontface.scss';
//Colors
@import 'client_colors.scss';
//@import "./node_modules/sass-mediaqueries/_media-queries.scss";    

$mq-mobile-portrait   : 320px  !default;
$mq-mobile-landscape  : 480px  !default;
$mq-tablet-portrait   : 768px  !default;
$mq-tablet-landscape  : 980px  !default;
$mq-desktop           : 1200px !default;

//Mixins Border-radius
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

//MOBILE
// Both portrait and landscape
@mixin mobile-only {
  @media (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// Everything up to and including the portrait width of the phone
// Since it's the smallest query it doesn't need a min
@mixin mobile-portrait-only {
  @media (max-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everything up to and including the mobile portrait
@mixin mobile-portrait-and-below {
  @media (max-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everything above and including the mobile portrait
@mixin mobile-portrait-and-up {
  @media (min-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everthing larger than a portrait mobile up until mobile landscape
@mixin mobile-landscape-only {
  @media only screen and (min-width : $mq-mobile-portrait + 1) and (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// Everything up to and including the mobile landscape width
@mixin mobile-landscape-and-below {
  @media only screen and (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// Everything above and including the mobile landscape width
@mixin mobile-landscape-and-up {
  @media only screen and (min-width : $mq-mobile-portrait + 1) {
    @content;
  }
}

// tablet
// ------------------------------

// Both the portrait and landscape width of the tablet
// Larger than a landscape mobile but less than or equal to a landscape tablet
@mixin tablet-only {
  @media only screen and (min-width : $mq-mobile-landscape + 1) and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Everything larger than mobile landscape up until the portrait width of the tablet
@mixin tablet-portrait-only {
  @media only screen and (min-width : $mq-mobile-landscape + 1) and (max-width : $mq-tablet-portrait) {
    @content;
  }
}

// Everything below and including the portrait width of the tablet
@mixin tablet-portrait-and-below {
  @media only screen and (max-width : $mq-tablet-portrait) {
    @content;
  }
}

// Everything above and including the portrait width of the tablet
@mixin tablet-portrait-and-up {
  @media only screen and (min-width : $mq-mobile-landscape + 1) {
    @content;
  }
}

// Larger than portrait but less than or equal to the landscape width
@mixin tablet-landscape-only {
  @media only screen and (min-width : $mq-tablet-portrait + 1) and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Up to and including the tablet landscape
@mixin tablet-landscape-and-below {
  @media only screen and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Everything larger than portrait tablet
@mixin tablet-landscape-and-up {
  @media only screen and (min-width : $mq-tablet-portrait + 1) {
    @content;
  }
}

// desktop
// ------------------------------

// Everything larger than a landscape tablet
@mixin desktop-and-up {
  @media only screen and (min-width : $mq-tablet-landscape + 1) {
    @content;
  }
}

// Everything below and including the desktop 
@mixin desktop-and-below {
  @media only screen and (max-width : $mq-desktop) {
    @content;
  }
}

// Everything larger than a landscape tablet but less than or equal to the desktop
@mixin desktop-and-below {
  @media only screen and (min-width : $mq-tablet-landscape + 1) and (max-width : $mq-desktop) {
    @content;
  }
}

// retina
// ------------------------------

// Retina screens have a 1.5 pixel ratio, not 2
@mixin retina {
  @media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    @content;
  }
}


@include mobile-only() {
  .navbar-brand {
    display: block !important;
  }
  .social {
    text-align: center;
    &:before {
      content: "Nossas Redes Sociais";
      font-size: 0.8rem;
      color: $white;
      display: block;
    }
  }
  .navbar-toggler {
    background-color: $yellow;
    color: $black !important;
    @include border-radius (0);
  }
  .jumbotron {
    background: url('../images/bg_header_mob.jpg') top center no-repeat !important; 
    height: 541px !important;
    margin-top: 60px;
    margin-bottom: 0;  
    padding-top: 10px;
    .info_header {
      img {
        height: 135px;
        margin-top: 0 !important;
      }
      .bg-mob {
        background: $black-80;
        padding: 10px 10px 1px;
        margin-top: 120px;                
        img {
          width: 100%;
          height: auto;          
        }
      }
      .ch2 {
        margin-top: 130px;
       img {
          width: 100%;
          height: auto;          
        } 
      }
      h1 {
        font-size: 1.6rem;        
      }
      h2 {
        font-size: 1.0rem !important;
        strong {
          font-weight: bolder;
        }
      }
      // p {        
      //   margin-top: 140px !important;
      //   font-size: 0.8rem !important;            
      // }
    }
  }
  #brinde {
    height: 200px !important;
    background-image: none !important;
    h2 {
      font-size: 2.0rem !important;
      span {
        display: block;
        font-size: 3.0rem !important;
      }
    }
    .monges {
      margin-top: -30px !important;
      img {
        max-height: 450px !important;
      }
    }
  }
  #produtos {
    h2 {
      font-size: 4.0rem !important;
      margin-bottom: 20px !important;    
    }
    .beers {
      margin-top: 0px !important;
      .info_beer {
        max-width: 320px !important;
      }
    }
  }
  #contato {
    h2 {
      font-size: 2.0rem !important;
      line-height: 3.5rem !important;
      span {
        font-size: 6.0rem !important;;
      }
    }
    p {
      font-size: 1.1rem !important;
    }
    .bt_client {
      width: 100%;
      padding: 10px;
    }
  }
  #entrada {
    h1 {
      font-size: 1.4rem !important;
    }
  }
}
@include mobile-portrait-only() {}
// //END MOBILE