//Colors
@import 'client_colors.scss';
//Fonts
@import 'client_fontface.scss';
//Media Queries
@import 'client_style_queries.scss';
//Mixins Border-radius
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}
//Mixins Vertical-align
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
//Mixins Placeholder
@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}
@mixin btn-default-client {
	color: $grey;
	border: 1px solid $grey;
	padding: 6px 30px;
	margin: 10px 0 50px;
	&:hover {
		color: $yellow;
		border-color: $yellow;
	}
}
//Placeholder
::-webkit-input-placeholder { /* Chrome/Opera/Safari */  
  font-size: 0.9rem;   
}
::-moz-placeholder { /* Firefox 19+ */  
  font-size: 0.9rem;
}
:-ms-input-placeholder { /* IE 10+ */  
  font-size: 0.9rem;
}
:-moz-placeholder { /* Firefox 18- */  
  font-size: 0.9rem;
}
.bt_client {
  background: $yellow;
  padding: 6px 30px;
  transition: 0.3s;
  box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.4);
  &:hover {
    background: $black;
    color: $white;
    transition: 0.3s;
  }
}
.btn_line {
  border-color: $yellow;
  color: $yellow;
  padding: 6px 30px;
  transition: 0.3s;
  &:hover {
    border-color: $white;
    color: $white;
    transition: 0.3s;
  }
}
.btn_line_2 {
  border-color: $white;
  color: $white;
  padding: 6px 30px;
  transition: 0.3s;
  &:hover {
    border-color: $yellow;
    color: $yellow;
    transition: 0.3s;
  }
}
.form-control {
  padding: 30px 10px;
  border-color: $yellow;
}
textarea.form-control {
  padding: 10px 10px;
}

.lp_h {
  img {
    animation:pulse 1s infinite;    
  }
}  

@keyframes pulse {
  10% {transform: scale(1.1)}  
}

*,
html,
body {}
body {
  background: $black;
}

//Social 
.social {
  list-style: none;
  margin: 0;
  padding: 0;
    li {
      display: inline-block;
      margin: 5px 8px;
        a {
          transition: 0.3s;
          font-size: 1.3rem;
          color: $white;
          &:hover {
            color: $yellow;
            transition: 0.3s;
            text-decoration: none;
          }
        }
    }
}
// Navbar
.navbarClient {
  background-color: $black;
  .navbar-brand {
    figure {
      margin-bottom: 0;
      img {
        height: 32px;
      }
    }
  }
  .nav-item {
    .nav-link {
      color: $white;      
      transition: 0.3s;
      border-bottom: 2px solid $black;
    }
    &.active,
    &:hover,
    &:focus, {
      .nav-link {
        color: $yellow;
        transition: 0.3s;
        border-color: $yellow;
      }
    }
  }
}
//Jumbotron
.jumbotron {
  background: url('../images/bg_header.jpg') top center no-repeat; 
  height: 941px;
  margin-bottom: 0;  
  margin-top: 60px;
  .info_header {   
    img {
      margin-top: 50px;
    } 
    h1 {
      color: $yellow;
      font-weight: lighter;
      strong {
        font-weight: bolder;
      }
    }
    h2 {
      color: $white;
      font-weight: lighter;
      font-size: 1.6rem;
      strong {
        font-weight: bolder;
      }
    }
    p {
      color: $white;
      font-size: 1.2rem;            
      margin-top: 320px;
    }
  }
}
//Brinde
#brinde {
  background: $white;
  padding-top: 20px;
  height: 460px;
  overflow: hidden;
  background-image: url('../images/cevada.png'), url('../images/lupulo.png');
  background-position: -200px center, right center;
  background-size: 430px auto, 290px auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  h2 {
    font-size: 3.0rem;
    span {
      display: block;
      font-size: 8.0rem;
    }
  }
  .monges {
    margin-top: -90px;
    img {
      max-height: 600px;
    }
  }
}
//Produtos
#produtos {
  background: $black;
  padding-top: 20px;
  padding-bottom: 80px;
  h2 {
    color: $yellow;
    font-size: 12.0rem;
    margin-bottom: 0;    
  }
  .beers {
    text-align: center;
    color: $white;
    margin-top: -160px;
    figure {      
      margin-bottom: 0;
      &.iconBeer {
        margin-bottom: 20px;
      }
    }
    .info_beer {
      max-width: 220px;
      height: 160px;      
      margin: 0 auto;
    }
    a {
      margin-bottom: 30px;
    }
  }  
}
//Contato
#contato {
  background: url('../images/bg_contact.jpg'); 
  padding-top: 50px;
  padding-bottom: 10px;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  .boxs {
    background-color: $white-80;
    padding: 25px 20px 10px;
    @include border-radius (6px);
  }
  h2 {
    color: $white;
    font-size: 3.0rem;
    line-height: 6.0rem;
    span {
      display: block;
      color: $yellow;
      font-size: 9.0rem;
      margin-bottom: 30px;
    }
  }
  p {
    color: $white;
    font-size: 1.0rem;
    a {
      color: $white;
      &:hover {
        text-decoration: none;
        color: $yellow;
        transition: 0.3s;
      }
    }
  }
}
//Footer
footer {
  background-color: $black;
  font-size: 0.7rem;  
  color: $white;
  p {
    padding: 8px;
    margin-bottom: 0;
  }
}
//Modal
.modal-backdrop {
  &.show {
    opacity: 1 !important;
 }   
}
#entrada {
  .modal-dialog {
    @include vertical-align ();
    .modal-content {
      @include border-radius (0px);
      border: 0;
      background-color: $black;
      text-align: center;
      color: $white;
    }
  }
  figure {
    margin: 40px auto;
  }
  h1 {
    font-weight: lighter;
    font-size: 2.0rem;
    margin-bottom: 20px;
    strong {
      font-weight: bolder;
    }
  }
  ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    li {
      display: inline;
      margin: 0 30px;
    }
  }
}